.btn btn-default {
    text-align: center;
}

.btn {
    background-color: white;
}

.btn-default:hover {
    background-color: lightgray;
}

button:hover {
    background-color: white;
}

button {
    background-color: whitesmoke;
}

.dropdown-item {
    border: 1px inset gray;
}

.btn-group {
    background-color: whitesmoke;
    width: 100%;
    border-bottom: groove;
}

    .btn-group button {
    }


#small-logo {
    height: 100%;
    width: auto;
}
.dropdown-item{
    border:1px inset gray;
}
#loginbar {
    background-color: white;
    width: 700px;
    height: 500px;
    border: 2px solid gray;
    margin-top: 180px;
}
#loginheader{
    height:30px;
    margin-top:20px;
    border-radius:10px;
}
#chatbutton {
    padding-top:200px;
    margin-right:80%;
}
#chat{
    height:300px;
    width:400px;
    padding-right:25%;
}
#chatheader {
background-color:lightskyblue;
padding:5px;

}


body {
    background-color:antiquewhite;
}

#loggedin {
    background-color: white;
    width: 1800px;
    height: 800px;
    border: 2px solid gray;
    margin-top: 180px;
    margin-bottom: 50px;
}

/*#searchbar {
    margin-left:800px;
}

#forms {
    padding-top:100px;
    padding-left:35%;
}*/
