button:hover{
    background-color:white;
}
button {
    background-color: whitesmoke;
}

.dropdown-item {
    border: 1px inset gray;
}

.btn-group {
    background-color: whitesmoke;
    width: 100%;
    padding: 1%;
    border-bottom: groove
}

    .btn-group button {
    }

#small-logo {
    height: 100%;
    width: auto;
}